<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/fontawesome/all.css" />
        <link
        rel="stylesheet"
        href="../../assets/css/fontawesome/fontawesome.css"
        />
        <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap.css" />
        <link rel="stylesheet" href="../../assets/css/styles.css" />
        <link rel="stylesheet" href="../../assets/css/facturacion/facturacion.css">
        <title>Facturación</title>
    </head>
    <body>
        <script src="../../assets/js/fontawesome/all.js"></script>
        <script src="../../assets/js/bootstrap/bootstrap.js"></script>
        <div class="container">
            <nav class="navbar navbar-dark bg-primary fixed-top">
                <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="../index.html">Ir al menú</a>
                <!-- CANVAS -->
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                        <div class="offcanvas-header bg-primary text-light">
                            <h5 class="offcanvas-title" id="offcanvasExampleLabel ">Opciones</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body lateral text-light">
                        
                            <ul class="nav list-group bg-dark" id="myTab" role="tablist">
                                <li class="nav-item list-group-item d-grid gap-2 " role="presentation">
                                    <button class="nav-link active btn btn-outline-light" id="btn-irReporte" data-bs-toggle="tab" data-bs-target="#crearcontrato" type="button" role="tab" aria-controls="crearcontrato" aria-selected="false">Reportes</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                <!-- CANVAS -->
                </div>
            </nav>
            <div class="row" style="padding-top: 5rem;">
                <div class="col-lg-6">
                    <h4>Buscar abonado para realizar pago</h4>
                    <div class="row">
                        <div class="col-sm-9">
                            <input id="buscador" class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-success" id="btn-buscar" type="submit">Buscar</button>
                        </div>
                    </div>
                    <div style="height: 520px; overflow: scroll; margin-top: 30px;"
                        >
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">Identidad</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Acción</th>
                                </tr>
                            </thead>
                            <tbody id="tb-contratos">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h4>Información de pagos</h4>
                    <label for="nombre" class="form-label">Nombre Abonado</label>
                    <input type="text" class="form-control" id="nombreAbonado" readonly>
                    <div class="row" style="margin-top: 30px">
                        <div class="col-sm-8">
                            <p>Meses pagados</p>
                            <div style="height: 348px; overflow: scroll; margin-top: 30px;">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Mes</th>
                                            <th scope="col">Valor</th>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tb-mesesPagados">
                                        <tr id="tb-tr"></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="bloque" class="form-label">Bloque</label>
                            <input type="text" class="form-control" id="bloque" readonly>
                            <label for="etapa" class="form-label">Etapa</label>
                            <input type="text" class="form-control" id="etapa" readonly>
                            <label for="mes" class="form-label">Mes a Pagar</label>
                            <select class="form-select" id="mesesFacturacion"></select>
                            <label for="valor" class="form-label">Valor a pagar</label>
                            <input type="text" class="form-control" id="valor" readonly>
                            <button type="button" class="btn btn-success" id="btn-pagar" style="margin-top: 5%; display: none">Registrar Pago</button>
                            <button type="button" class="btn btn-success" id="btn-actualizar" style="margin-top: 5%; display: none">Actualizar Pago</button>
                            <button type="button" class="btn btn-success" id="btn-cancelar" style="margin-top: 5%; display: none;" >Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script
        type="module"
        src="../../assets/js/facturacion/facturacion.view.js"
    ></script>
</html>