<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/fontawesome/all.css" />
    <link
      rel="stylesheet"
      href="../../assets/css/fontawesome/fontawesome.css"
    />
    <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="../../assets/css/styles.css" />
    <link rel="stylesheet" href="../../assets/css/abonados/abonados.css" />
    <title>Ver abonado</title>
  </head>
  <body id="vistaAbonado" data-editando="false">
    <div class="container-fluid bg-primary bg-gradient mt-n1">
      <header class="d-flex flex-wrap justify-content-center py-3 pe-5 ps-1">
        <a
          href="#"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
          id="headerButtonSidebar"
        >
          <i
            class="fa-solid fa-bars me-3 text-white align-items-center"
            style="height: 24px; width: 24px"
          ></i>
          <span class="fs-4 fw-bold text-white">Viendo un abonado</span>
        </a>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a href="../index.html" class="btn btn-light" aria-current="page">Ir al menú</a>
          </li>
        </ul>
      </header>
    </div>

    <main class="container-fluid">
      <section class="row">
        <aside
          class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark col-2"
          style="width: 280px"
          id="sidebarSwim"
        >
          <a
            href="/"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
          >
            <span class="fs-4">Abonados</span>
          </a>
          <hr />
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-itema">
              <a
                href="#"
                class="nav-link text-white active fw-bold"
                aria-current="page"
                id="crear-abonado-sidebar-tab"
              >
                <i
                  class="fa-solid fa-user-plus me-2"
                  width="16"
                  heigth="16"
                ></i>
                Crear abonado
              </a>
            </li>
            <li class="nav-itema">
              <a
                href="#"
                class="nav-link text-white"
                id="listado-abonados-sidebar-tab"
              >
                <i
                  class="fa-solid fa-users-line me-2"
                  width="16"
                  heigth="16"
                ></i>
                Listado de abonados
              </a>
            </li>

            <li class="nav-itema">
              <a
                href="#"
                class="nav-link text-white"
                id="ver-abonado-sidebar-tab"
              >
                <i
                  class="fa-solid fa-circle-user me-2"
                  width="16"
                  heigth="16"
                ></i>
                Ver abonado
              </a>
            </li>
          </ul>
          <hr />
        </aside>
        <article class="col-8 mt-4 listados-abonados" id="listadosAbonados">
          <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link visually-hidden"
                id="tab-insertar"
                data-bs-toggle="pill"
                data-bs-target="#pill-insertar"
                type="button"
                role="tab"
                aria-controls="pill-insertar"
                aria-selected="false"
              >
                1. Insertar abonado
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active visually-hidden"
                id="tab-listado"
                data-bs-toggle="pill"
                data-bs-target="#pills-listado"
                type="button"
                role="tab"
                aria-controls="pills-listado"
                aria-selected="true"
              >
                2. Listado abonado
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link visually-hidden"
                id="tab-ver-abonado"
                data-bs-toggle="pill"
                data-bs-target="#pills-ver"
                type="button"
                role="tab"
                aria-controls="pills-ver"
                aria-selected="false"
              >
                3. Ver abonado
              </button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade"
              id="pill-insertar"
              role="tabpanel"
              aria-labelledby="tab-insertar"
            >
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link active"
                    id="tab-informacion"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-home"
                    type="button"
                    role="tab"
                    aria-controls="pills-home"
                    aria-selected="true"
                  >
                    1. Información personal
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="tab-contacto"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-profile"
                    type="button"
                    role="tab"
                    aria-controls="pills-profile"
                    aria-selected="false"
                  >
                    2. Información de contacto
                  </button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="pills-home"
                  role="tabpanel"
                  aria-labelledby="tab-informacion"
                >
                  <h5 class="text-muted mb-3 fs-6">
                    Ingrese la información personal del abonado
                  </h5>

                  <!-- FORMULARIOS INFORMACION PERSONAL-->
                  <div class="mb-3">
                    <label for="txtIdentidad" class="form-label"
                      >Número de identidad</label
                    >
                    <input
                      maxlength="13"
                      type="text"
                      class="form-control"
                      id="txtIdentidad"
                      placeholder="XXXX-XXXX-XXXXX"
                    />
                  </div>

                  <div class="mb-3">
                    <label for="txtNombres" class="form-label">Nombres</label>
                    <input
                      type="text"
                      class="form-control"
                      id="txtNombres"
                      placeholder="Alejandro Fulano"
                    />
                  </div>

                  <div class="mb-3">
                    <label for="txtApellidos" class="form-label"
                      >Apellidos</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="txtApellidos"
                      placeholder="Gonzales Iñárritu"
                    />
                  </div>

                  <div class="mb-3">
                    <label for="txtFechaNac" class="form-label"
                      >Fecha de nacimiento</label
                    >
                    <input type="date" class="form-control" id="txtFechaNac" />
                  </div>

                  <div class="mb-3">
                    <label class="form-label col-12">Género</label>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="txtSexo1"
                        value="1"
                      />
                      <label class="form-check-label" for="txtSexo1"
                        >Hombre</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="txtSexo2"
                        value="2"
                      />
                      <label class="form-check-label" for="txtSexo2"
                        >Mujer</label
                      >
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="txtDireccion" class="form-label"
                      >Dirección</label
                    >
                    <textarea
                      name=""
                      id="txtDireccion"
                      cols="30"
                      rows="10"
                      class="form-control"
                    ></textarea>
                  </div>
                  <div class="col-12">
                    <button
                      class="btn btn-outline-secondary me-2"
                      id="btn-cancelar"
                    >
                      Cancelar
                    </button>
                    <button class="btn btn-primary" id="btn-siguiente">
                      Siguiente <i class="fa-solid fa-arrow-right ms-1"></i>
                    </button>
                  </div>
                </div>
                <!-- FORMULARIOS INFORMACION PERSONAL -->
                <div
                  class="tab-pane fade"
                  id="pills-profile"
                  role="tabpanel"
                  aria-labelledby="tab-contacto"
                >
                  <h5 class="text-muted mb-3 fs-6">
                    Ingrese la información de contacto del abonado
                  </h5>

                  <!-- FORMULARIOS CONTACTO PERSONAL-->
                  <div class="mb-3">
                    <label for="txtTelefono" class="form-label"
                      >Número telefónico
                      <span class="text-danger"> <sup>(opcional)</sup> </span>
                    </label>
                    <input
                      maxlength="8"
                      type="text"
                      class="form-control"
                      id="txtTelefono"
                      placeholder="99XX-99XX"
                    />
                  </div>

                  <div class="mb-3">
                    <label for="txtCorreo" class="form-label"
                      >correo electrónico
                      <span class="text-danger"> <sup>(opcional)</sup> </span>
                    </label>
                    <input
                      type="email"
                      class="form-control"
                      id="txtCorreo"
                      placeholder="ejemplo@gmail.com"
                    />
                  </div>
                  <div class="col-12">
                    <button
                      class="btn btn-outline-secondary me-2"
                      id="btn-cancelar"
                    >
                      Cancelar
                    </button>
                    <button
                      class="btn btn-primary"
                      id="btn-guardar-info"
                      type="submit"
                    >
                      Guardar abonado
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade show active"
              id="pills-listado"
              role="tabpanel"
              aria-labelledby="tab-listado"
            >
              <div
                class="listado-abonado-container"
                id="listadoAbonadoContainer"
              >
                <div class="header-busqueda-abonado">
                  <h2 class="total-busqueda" id="totalBusqueda">0 Abonados</h2>
                  <div class="busqueda-container">
                    <label for="txtBusquedaAbonado"
                      ><i class="fa-solid fa-magnifying-glass me-2"></i
                    ></label>
                    <input
                      type="text"
                      class="txt-busqueda-abonado"
                      id="txtBusquedaAbonado"
                      placeholder="Buscar por nombre..."
                    />
                  </div>
                </div>

                <div id="itemAbonadoLista" class="item-abonado"></div>
              </div>
            </div>
            <!-- FORMULARIOS INFORMACION PERSONAL -->
            <div
              class="tab-pane fade"
              id="pills-ver"
              role="tabpanel"
              aria-labelledby="tab-ver-abonado"
            >
              <div class="header-nombre" id="txtVerUnAbonado">
                <div class="user-image-container">
                  <img
                    src="../../assets/img/male-student.png"
                    alt="Género del abonado"
                    class="user-image"
                    id="userImage"
                  />
                </div>
                <div class="name-id-container">
                  <div class="abonado-id-container">
                    <h2 class="abonado-name fw-bold" id="abonadoName">
                      Nombre Abonado
                    </h2>
                    <p class="abonado-identidad text-muted" id="abonadoId">
                      <span id="txtNumeroIdentidad">Numero de Identidad</span>
                      <span id="txtEdadAbonado">(Edad años)</span>
                    </p>
                  </div>
                  <div class="abonado-edad-container">
                    <span
                      class="txt-abonado-telefono text-muted"
                      id="txtAbonadoTelefono"
                      >Telefono</span
                    ><span
                      class="txt-abonado-correo text-muted"
                      id="txtAbonadoCorreo"
                      >Correo</span
                    >
                  </div>
                </div>
                <div
                  class="container-modificar-abonado"
                  id="containerModificarAbonado"
                >
                  <a
                    id="btnEliminarAbonado"
                    href="#"
                    class="btn btn-outline-danger btn-eliminar-abonado me-3"
                    ><span>Eliminar abonado</span>
                  </a>
                  <a
                    id="btnModificarAbonado"
                    href="#"
                    class="btn btn-primary btn-modificar-abonado"
                    ><span>Modificar abonado</span>
                    <i class="fa-solid fa-arrow-right flecha-abonado-ir"></i>
                  </a>
                </div>
              </div>
              <hr />
              <div class="abonados-datos-container">
                <h2>Contratos</h2>
                <div class="contratos"></div>
              </div>
            </div>
          </div>
        </article>
        <div class="col-2"></div>
      </section>
    </main>
  </body>
  <script src="../../assets/js/fontawesome/all.js"></script>
  <script src="../../assets/js/bootstrap/bootstrap.js"></script>
  <!-- Buscamos el script de la vista pero lo invocamos como un módulo para poder importar archivos -->
  <script
    type="module"
    src="../../assets/js/abonados/abonados.view.js"
  ></script>
</html>
