<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/fontawesome/all.css" />
    <link
    rel="stylesheet"
    href="../assets/css/fontawesome/fontawesome.css"
    />
    <link rel="stylesheet" href="../assets/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <title>System Water Management</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary fixed-top">
      <div class="container-fluid">
        <span class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasNavbar">
          <span ></span>
        </span>
        <a class="navbar-brand" id="btnCerrarSesion" href="#">Cerrar Sesión</a>
      </div>
    </nav>

   <div class="container" id="menu" style="margin-top: 10%;">
    <h1 class="mt-5 mb-5">Menú principal</h1>
    <div class="row">
     <div class="col-4">
      <a href="./abonados/abonados.html" style="width: 100%; height: 200px; border-radius: 8%;" class="btn btn-primary">
        <h4>Abonados</h4>
        <i class="fa-solid fa-users fa-9x"></i>
      </a>
     </div>
     <div class="col-4">
      <a href="./facturacion/facturacion.html" style="width: 100%; height: 200px; border-radius: 8%;" class="btn btn-primary">
        <h4>Facturación</h4>
        <i class="fa-solid fa-file-invoice-dollar fa-9x"></i>
      </a>
     </div>
     <div class="col-4">
      <a href="./contratos/contratos.html" style="width: 100%; height: 200px; border-radius: 8%;" class="btn btn-primary">
        <h4>Contratos</h4>
        <i class="fa-solid fa-address-card fa-9x"></i>
      </a>
     </div>
   </div>
 </div>
    
  </body>
  <script src="../assets/js/fontawesome/all.js"></script>
  <script src="../assets/js/bootstrap/bootstrap.js"></script>
  <script
    type="module"
    src="../assets/js/usuarios/menu.view.js"
  ></script>
</html>
