<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/fontawesome/all.css" />
        <link
        rel="stylesheet"
        href="../../assets/css/fontawesome/fontawesome.css"
        />
        <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap.css" />
        <link rel="stylesheet" href="../../assets/css/styles.css" />
        <link rel="stylesheet" href="../../assets/css/login/signin.css" />
        <title>Iniciio de sesión</title>
    </head>
    <body class="text-center">
        <div class="col-4"> </div>
        <div class="col-4">
            <form class="form-signin">
                <img class="mb-4" src="../../assets/img/Logo.jpg" alt="" width="200" height="120">
                <h1 class="h3 mb-3 font-weight-normal">Inicio de sesión</h1>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Nombre de usuario" required="" autofocus="">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required="">
                <div class="mb-3">
                  <label>
                    <a href="../usuarios/usuarios.html">Registrarse</a>
                  </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
            </form>
        </div>
        <div class="col-4"></div>
        
    </body>
    <script src="../../assets/js/fontawesome/all.js"></script>
    <script src="../../assets/js/bootstrap/bootstrap.js"></script>
    <script
    type="module"
    src="../../assets/js/usuarios/usuarios.view.js"
    ></script>
</html>