<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/fontawesome/all.css" />
    <link
      rel="stylesheet"
      href="../../assets/css/fontawesome/fontawesome.css"
    />
    <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="../../assets/css/styles.css" />
    <link rel="stylesheet" href="../../assets/css/usuarios/usuarios.css" />
    <title>Usuarios</title>
  </head>
  <body>

    <main class="container-fluid">
      <section class="row justify-content-center">
        <nav class="navbar navbar-dark bg-primary fixed-top">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="../index.html">Ir al menú</a>
              <!-- CANVAS -->
              <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header bg-primary text-light">
                  <h5 class="offcanvas-title" id="offcanvasExampleLabel ">Opciones</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body lateral text-light">
                  
                  <ul class="nav list-group bg-dark" id="myTab" role="tablist">
                    
                      <li class="nav-item list-group-item d-grid gap-2 " role="presentation">
                        <a class="nav-link active btn btn-outline-light" id="btnIrCrearUsuarios" data-bs-toggle="tab" type="button" role="tab" aria-controls="crearusuario" aria-selected="true">Crear Usuarios</a>
                      </li>
                      <li class="nav-item list-group-item d-grid gap-2" role="presentation">
                        <a class="nav-link btn btn-outline-light" id="btnIrListadoUsuarios" data-bs-toggle="tab" type="button" role="tab" aria-controls="verusuarios" aria-selected="false">Listado Usuario</a>
                      </li>
                  </ul>
                  
                </div>
              </div>
              <!-- CANVAS -->
            </div>
          </nav>
        <article class="col-5 mt-4">
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-home"
              role="tabpanel"
              aria-labelledby="tab-informacion"
            >
              <h3 class="text-bold mb-3 mt-5 fs-3">
                Ingrese la información del usuario
              </h3>

              <div class="mb-3">
                <label for="txtNombreUsuario" class="form-label">Nombre del usuario</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="txtNombreUsuario"
                  placeholder="jlopez"
                />
              </div>

              <div class="mb-3">
                <label for="txtContraseña" class="form-label">Contraseña</label>
                <input
                  type="password"
                  class="form-control"
                  id="txtContraseña"
                />
              </div>

              <div class="mb-3">
                <label for="txtFechaRegistro" class="form-label"
                  >Fecha de registro</label
                >
                <input type="date" class="form-control" id="txtFechaRegistro" />
              </div>

              <div class="mb-3">
                <label class="form-label col-12">Estado del usuario</label>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="txtEstado1"
                    value="1"
                  />
                  <label class="form-check-label" for="txtEstado1">Activo</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="txtEstado2"
                    value="2"
                  />
                  <label class="form-check-label" for="txtEstado2">Inactivo</label>
                </div>
              </div>
              <div class="mb-3">
                <label for="cboTipoUsuario" class="form-label">Tipo de usuario</label>
                <select class="form-control btn btn-primary" id="cboTipoUsuario">
                  <option value="0" selected>Seleccione un tipo de usuario</option>
                </select>
              </div>
              <div class="col-12">
                <button
                  class="btn btn-primary"
                  id="btn-guardar-info"
                  type="submit"
                >
                  Guardar usuario
                </button>
              </div>
            </div>
            
          </div>
        </article>
      </section>
    </main>
  </body>
  <script src="../../assets/js/fontawesome/all.js"></script>
  <script src="../../assets/js/bootstrap/bootstrap.js"></script>
  <script
    type="module"
    src="../../assets/js/usuarios/usuarios.view.js"
  ></script>
</html>