<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usuarios</title>
  </head>
  <body>
    <h1>Hola mundo desde la ventana de usuarios!</h1>
  </body>
  <!-- Buscamos el script de la vista pero lo invocamos como un módulo para poder importar archivos -->
  <script
    type="module"
    src="../../assets/js/usuarios/usuarios.view.js"
  ></script>
</html>