<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/fontawesome/all.css" />
    <link
      rel="stylesheet"
      href="../../assets/css/fontawesome/fontawesome.css"
    />
    <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="../../assets/css/styles.css" />
    <title>Usuarios</title>
  </head>
  <body>
    <div class="container-fluid bg-primary bg-gradient mt-n1">
      <header class="d-flex flex-wrap justify-content-center py-3 pe-5 ps-1">
        <a
          href="#"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
          id="headerButtonSidebar"
        >
          <i
            class="fa-solid fa-bars me-3 text-white align-items-center"
            style="height: 24px; width: 24px"
          ></i>
          <span class="fs-4 fw-bold text-white">Ingresando un usuario</span>
        </a>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a href="#" class="btn btn-light" aria-current="page">Ir al menú</a>
          </li>
        </ul>
      </header>
    </div>

    <main class="container-fluid">
      <section class="row">
        <aside
          class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark col-2"
          style="width: 280px"
          id="sidebarSwim"
        >
          <a
            href="/"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
          >
            <span class="fs-4">Usuarios</span>
          </a>
          <hr />
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-itema">
              <a
                href="usuarios.html"
                class="nav-link active"
                aria-current="page"
              >
                <i
                  class="fa-solid fa-user-plus me-2"
                  width="16"
                  heigth="16"
                ></i>
                Crear usuarios
              </a>
            </li>
            <li class="nav-itema">
              <a href="listadousuarios.html" class="nav-link text-white">
                <i
                  class="fa-solid fa-users-line me-2"
                  width="16"
                  heigth="16"
                ></i>
                Listado de usuarios
              </a>
            </li>
          </ul>
          <hr />
          <div class="dropdown">
            <a
              href="#"
              class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
              id="dropdownUser1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://github.com/mdo.png"
                alt=""
                width="32"
                height="32"
                class="rounded-circle me-2"
              />
              <strong>mdo</strong>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark text-small shadow"
              aria-labelledby="dropdownUser1"
            >
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
        </aside>
        <article class="col-7 mt-4">
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-home"
              role="tabpanel"
              aria-labelledby="tab-informacion"
            >
              <h3 class="text-bold mb-3 fs-3">
                Ingrese la información del usuario
              </h3>

              <div class="mb-3">
                <label for="txtNombreUsuario" class="form-label">Nombre del usuario</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="txtNombreUsuario"
                  placeholder="jlopez"
                />
              </div>

              <div class="mb-3">
                <label for="txtContraseña" class="form-label">Contraseña</label>
                <input
                  type="password"
                  class="form-control"
                  id="txtContraseña"
                />
              </div>

              <div class="mb-3">
                <label for="txtFechaNac" class="form-label"
                  >Fecha de registro</label
                >
                <input type="date" class="form-control" id="txtFechaNac" />
              </div>

              <div class="mb-3">
                <label class="form-label col-12">Estado del usuario</label>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="txtEstado1"
                    value="1"
                  />
                  <label class="form-check-label" for="txtEstado1">Activo</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="txtEstado2"
                    value="2"
                  />
                  <label class="form-check-label" for="txtEstado2">Inactivo</label>
                </div>
              </div>
              <div class="mb-3">
                <select class="btn btn-primary" name="tipoUsuario" id="cboTipoUsuario">
                  <option value="value1" selected>Seleccione el tipo de usuario</option>
                  <option value="value2">Value 2</option>
                  <option value="value3">Value 3</option>
                </select>
              </div>
              <div class="col-12">
                <button
                  class="btn btn-outline-secondary me-2"
                  id="btn-cancelar"
                >
                  Cancelar
                </button>
                <button
                  class="btn btn-primary"
                  id="btn-guardar-info"
                  type="submit"
                >
                  Guardar usuario
                </button>
              </div>
            </div>
            
          </div>
        </article>
        <div class="col-2"></div>
      </section>
    </main>
  </body>
  <script src="../../assets/js/fontawesome/all.js"></script>
  <script src="../../assets/js/bootstrap/bootstrap.js"></script>
  <script
    type="module"
    src="../../assets/js/usuarios/usuarios.view.js"
  ></script>
</html>