td a{
    text-decoration: none;
}
tr {
    text-align: center;
}
thead{
    background-color:rgb(50, 101, 211); 
    color: white;
}

.lateral{
    background-color: hsl(210, 11%, 25%);
}
.selected {
    background-color: rgb(50, 101, 211);
    color: #FFF;
}